<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="logo" routerLink="">H.</span>
    <div class="spacer"></div>
    <span routerLink="/home" routerLinkActive="active" routerLinkActiveOptions="{ exact: true }" class="toolbar-text">Home</span>
    <span routerLink="/announcements" routerLinkActive="active" routerLinkActiveOptions="{ exact: true }" class="toolbar-text">Announcements</span>
    <img id="twitter-logo" src="assets/twitter.png" alt="twitter" (click)="openTwitter()">
</div>

<router-outlet></router-outlet>