<div class="content" role="main">
  <div class="left-text">
    <div class="main-text">
      <span>Homeroom</span>
    </div>
    <div class="sub-text">
      Welcome to your virtual classroom, a better way to connect remotely with fellow students.
    </div>
    <button id="launch-btn" (click)="launch()">LAUNCH</button>
  </div>
  <div class="laptop-image">
    <img id="laptop" src="assets/macbook-homeroom.png">
  </div>
  <div class="footer">
    <div class="footer-text-container">
      <div class="footer-text">
        <div class="icon-container">
          <fa-icon [icon]="faUserFriends"></fa-icon>
        </div>
        <span class="footer-small-text">Connect</span>
      </div>
      <div class="footer-text">
        <div class="icon-container">
          <fa-icon [icon]="faVrCardboard"></fa-icon>
        </div>
        <span class="footer-small-text">Interact</span>
      </div>
      <div class="footer-text">
        <div class="icon-container">
          <fa-icon [icon]="faBook"></fa-icon>
        </div>
        <span class="footer-small-text">Learn</span>
      </div>
    </div>
    <img src="assets/wave.svg">
  </div>
</div>